@page
@model IndexModel

@{
    ViewData["Title"] = "訂便當筆記本";
}

<h1>訂餐筆記</h1>

<p></p>
<input type="text" id="filterInput" placeholder="篩選店家名稱...">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Convenient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Recorder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Memo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].RecordTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Review) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Convenient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recorder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                @{
                    var recordTimeFormatted = item.RecordTime.HasValue ? item.RecordTime.Value.ToString("yyyy/MM/dd") : "";
                }
                @Html.DisplayFor(modelItem => recordTimeFormatted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">修改</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-page="Create" class="btn btn-primary">新增</a>
</p>
<script>
    // 監聽輸入框的變化事件
    document.getElementById("filterInput").addEventListener("input", function () {
        var inputValue = this.value.toLowerCase(); // 將輸入值轉為小寫，以進行不區分大小寫的模糊查詢
        var rows = document.querySelectorAll("tbody tr");

        // 顯示或隱藏符合模糊查詢條件的列表項目
        rows.forEach(function (row) {
            var convenientCell = row.querySelector("td:nth-child(1)");
            var convenientText = convenientCell.textContent.toLowerCase();

            // 使用 indexOf 方法來判斷輸入值是否包含在店家名稱中
            if (convenientText.indexOf(inputValue) !== -1) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    });
</script>



